.aco_contenedor{
	margin: 0px 0px 0px 0px;
}

.aco_titulo{
	font-size: 11px;
	margin: 0px;
	color: #FFF;
	cursor: pointer;
	/*background-color: #DDECF7;
	background-image:url(tab.png);*/
	padding: 0px;
	border-bottom: 1px solid #fff;
}
.aco_contenido{
	padding: 0px 0px 0px 0px;
	border: 1px solid #DDECF7;
	border-top: 0px;
}
.aco_foco{
	color: #FFCC00;
}